<footer class="templateux-footer bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 pr-md-5">
                <div class="block-footer-widget">
                    <p>本公司團隊擁有10年以上專業經驗，成功為客戶解決各種債務問題</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block-footer-widget">
                            <h3>获取更多協助方案信息</h3>
                            <ul class="list-unstyled">
                                <li><a href="bankrupt">BANKRUPT 破產</a></li>
                                <li><a href="iva">IVA 債務重組</a></li>
                                <li><a href="drp">DRP 債務舒緩</a></li>
                                <li><a href="idrp">IDRP 綜合債務舒緩</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block-footer-widget">
                            <h3>获取更多公司信息</h3>
                            <ul class="list-unstyled">
                                <li><a href="about">關於我們</a></li>
                                <li><a href="pp">私隱政策</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block-footer-widget">
                            <h3>聯絡我們</h3>
                            <ul class="list-unstyled block-social">
                                <li><a href="https://api.whatsapp.com/send?phone=85251731101" class="p-1"><span class="icon-whatsapp"></span></a></li>
                                <li><a href="mailto:chilokcompanylimited@gmail.com" class="p-1"><span class="icon-envelope"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="media block-icon-1 d-block text-center"> <a href="https://api.whatsapp.com/send?phone=85251731101" class="float" target="_blank" style="margin: 0px 68px;"> <i class="fa fa-whatsapp my-float"></i> </a> <a href="mailto:chilokcompanylimited@gmail.com" class="float" target="_blank" style="background-color: #767c82;"> <i class="fa fa-envelope my-float"></i> </a> </div>
            </div>
        </div>
    </div>
</footer>
<div style="background-color: #e7e9ea;">&copy; Copyright 2020 HONG KONG PROFESSIONAL DEBT RELIES SERVICE COMPANY</div>