<style>
.templateux-overlap .block-icon-1 {

    margin-top: 0px;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .box_detail {
        margin-bottom: 10px !important;
    }
}

.align-items-lg-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.templateux-logo:before {
    max-height: 200px;
}

@media screen and (max-width: 766px) {
    .templateux-logo:before {
        max-height: 300px;
    }
}

@media only screen and (max-width:767px) {
    .box_detail {
        margin-bottom: 218px;
    }
}
</style>
<header class="templateux-navbar" role="banner">
    <div class="container" data-aos="fade-down">
        <div class="row">
            <div class="col-8 col-sm-6 templateux-logo mt-0">
                <a href="/">
                    <img src="images/logo_w_name.png" alt="Image" class="img-fluid templateux-logo mt-0">
                </a>
            </div>
            <nav class="col-4 col-sm-6 site-nav">
                <button class="d-block d-md-none hamburger hamburger--spin templateux-toggle templateux-toggle-light ml-auto templateux-toggle-menu" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button> <!-- .templateux-toggle -->
                <style>
                </style>
                <ul class="sf-menu templateux-menu d-none d-md-block">
                    <li class="active">
                        <a href="/" class="animsition-link">首頁</a>
                    </li>
                    <li>
                        <a href="about" class="animsition-link">關於我們</a>
                        <ul>
                            <li><a href="iva">IVA 債務重組</a></li>
                            <li><a href="drp">DRP 債務舒緩</a></li>
                            <li><a href="idrp">IDRP 綜合債務舒緩</a></li>
                            <li><a href="bankrupt">BANKRUPT 破產</a></li>
                        </ul>
                    </li>
                    <li><a href="/#contact" class="animsition-link">聯絡我們</a></li>
                    <li><a href="blog" class="animsition-link">成功例子</a></li>
                </ul> <!-- .templateux-menu -->
            </nav> <!-- .site-nav -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</header> <!-- .templateux-navba -->